<html lang="en">
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Play ground</h1>

    <ul>
      <% for(let i =0; i<=10; i++){%>

      <li><%= i%></li>
      <%}%>
    </ul>
  </body>
</html>
